<ul>
                            <h4>Reviews</h4>
                            <li ng-repeat="review in product.reviews">
                                <blockquote>
                                <strong>{{review.stars}} Stars</strong>
                                {{review.body}}
                                <cite class="clearfix">—{{review.author}}</cite>
                                </blockquote>
                            </li>
                        </ul>
                        <form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
                                                ng-submit="reviewCtrl.addReview(product)" novalidate>
                                <blockquote>
                                     <b>stars:{{reviewCtrl.review.stars}}</b></br>
                                     {{reviewCtrl.review.body}}</br>
                                    <cite class="clearfix">{{reviewCtrl.review.author}}</cite></br>                                    
                                </blockquote>
                                    <select ng-model="reviewCtrl.review.stars" class="form-control" required>
                                    <option value="1">1 Star</option>
                                    <option value="2">2 Star</option>
                                    <option value="3">3 Star</option>
                                    <option value="4">4 Star</option>
                                    <option value="5">5 Star</option>
                                </select></br>

                                <textarea ng-model="reviewCtrl.review.body" class="form-control" required></textarea></br>

                                <label>By:</label>
                                <input ng-model="reviewCtrl.review.author" type="email" name="email" class="form-control" class="ng-pristine ng-invalid" required/>
				<div>
					<input type= "submit" value="Submit" class="pull-right btn btn-primary" />
				</div>
                        </form>
